* {
    font-family: 'Courier New', Courier, monospace;  /* TODO - tentative/place-holder */
    background-color: #ede8de;
    color: #457;
    border-style: solid;
    border-color: #5959fb;
    border-width: 1px;
    margin: 2px;
}

header h1 {
    justify-content: center;
}

body {
    margin: 20px;
}

main {
    display: flex;
    justify-content: left;
}

#city-list {
    display: flex;
    flex-direction: column;
}

input {
    padding: 5px;
    background: white;
    color: #4a5c47;
    font-size: 15pt;
    font-weight: bold;
}

button {
    padding: 5px;
}

#today-forecast {
    width: 100%;
}

#next-days {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Place-holder limited styling likely to be replaced by BootStrap ultimately. */